.DS_Store
.dart_tool/
.idea/

.packages
.pub/

build/

cpp_test/googletest/
cpp_test/lib/

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
